

<br />
<%= form_tag createpost_path do %>
    <%= label_tag :text, "post:" %>
    <%= text_area_tag :text %>
  
    <%= submit_tag "submit!" %>
<% end %>
<br />

<% @posts.each do |p| %>
	
	<h1>
	votes: <%= p.votes%> |||
	<%= p.text %>
	</h1>

	<% p.comments.each do |c| %>		
	<p>
		<%= c.text %>
	</p>
	<% end %>


	<%= button_to "click to vote", vote_path(p.id), :class => "button medium", :method => :patch %>



	<%= form_tag createcomment_path(p.id) do %>
	    <%= label_tag :text, "comment:" %>
	    <%= text_area_tag :text %>
	    <%= submit_tag "submit!" %>
    <% end %>
	<br />
<% end %>
	





