<style>
body
{
    background-color: lightblue;
}
</style>
<% if @posts.blank? %>
  <h4>There are no posts containing the term <%= params[:search] %>.</h4>
<% end %>
<%= button_to 'Back to Home ðŸ ', root_path, :method => 'get' %>
<% @posts.each do |p| %>


	<%if p.location.city ==current_user.city%>
	<h2>
	Post: <%= p.text %> | Votes: <%= p.votes %> | Posted on <%= p.created_at.month %>/<%= p.created_at.day %>/<%= p.created_at.year %> at <%= p.created_at.strftime('%H:%M') %>.
	<%= button_to "Upvote ðŸ‘", vote_path(p.id), :name =>'upvote', :class => "button medium", :method => :patch %>
	<%= button_to "Downvote ðŸ‘Ž", vote_path(p.id), :name=>'downvote', :class => "button medium", :method => :patch %>
	</h2>


	<br />


	<% p.comments.each do |c| %>

		Comment: <%= c.text %> | Votes: <%= c.votes %>
		<%= button_to "Upvote ðŸ‘", vote_comm_path(c.id), :name =>'upvote', :class => "button medium", :method => :patch %>
		<%= button_to "Downvote ðŸ‘Ž", vote_comm_path(c.id), :name =>'downvote', :class => "button medium", :method => :patch %>


	<br />
	<% end %>

	<br />
	<br />



	<%= form_tag createcomment_path(p.id) do %>
	    <%= label_tag :text, "comment:" %>
	    <%= text_area_tag :text %>
	    <%= submit_tag "Submit!" %>
    <% end %>
<hr>
<% end %>
<% end %>
